atari-py>=0.1.7
#swig
box2d
box2d-py
Box2D-kengz>=2.3.3
bsuite
captum>=0.1.0
numpy>=1.16.4
matplotlib>=3.0.3
seaborn>=0.9.0
tensorboard
torch>=1.6.0
torchvision>=0.5.0
tqdm
gym>=0.15.4
aigar
pynvml
pytorch_memlab
